.super-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  user-select: none;
}

.container {
  margin: 50px auto;
  width: 250px;
  height: 180px;
  background: url(./msg.jpeg);
  background-repeat: no-repeat;
  background-size: 250px 180px;
  border: 2px dashed rgb(205, 202, 202);
  
 
}


.wrapper {
  width: 100%;
  height: 100%;
}
